<ion-view title="" hide-back-button="true" id="apprendimento">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <a ui-sref="menuApprendimento" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
    </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <a ui-sref="side-menu21.menuUtente" class="button button-icon icon ion-android-close"></a>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <h3 id="apprendimento-heading11" style="color:#FF1300;text-align:center;">{Nome Categoria}</h3>
    <progress id="avanzamento" value="2" max="10">
    </progress>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="apprendimento-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="apprendimento-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="apprendimento-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="apprendimento-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <button id="apprendimento-button33" style="font-weight:500;font-size:20px;" class="button button-positive  button-block button-clear icon-left ion-android-volume-up">Riproduci suono</button>
    <h4 id="apprendimento-heading5" style="color:#000000;">Decibel: {---}</h4>
    <h4 id="apprendimento-heading6" style="color:#000000;">Frequenza: {---}</h4>
  </ion-content>
</ion-view>