<ion-view title="" hide-back-button="true" id="apprendimento" cache-view="false" ng-controller="apprendimentoCtrl" ng-init="">
  <link href="css/apprendimento.css" rel="stylesheet">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <a ui-sref="menuApprendimento" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
    </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <a ui-sref="side-menu21.menuUtente" class="button button-icon icon ion-android-close"></a>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header sfondoBase">
    <div id="intestazione">
        <div id="int_categoria">
            <p>{{nomeCategoria}}</p>            
        </div>
        <div id="loading" ng-show="!mostra">
            <img style="width:150px; height: 150px; margin-left: auto; margin-right: auto;" src ='./img/loading.gif'/>     
        </div>
        <div ng-show="mostra">
            <div id="int_play">
                <button id="play" class="item item-icon-left play_off" style="border:none; background-color: transparent;" ng-click="riproduci()">
                    <i style="font-size: 33px;" class="icon ion-play"></i>
                </button>
            </div>
            <div id="int_barra">
                <div class="progressbar" style="width:{{progressA}}"></div>
            </div>
        </div>
    </div>
    <div ng-show="mostra">
        <div id="nomeFoto"><p>{{nome}}</p></div>  
        <div id="contenuto">        
            <button id="sx" ng-hide="prev" class="item item-icon-left tasti" style="border:none; background-color: transparent;" ng-click="insertCoin('-')">
                <i style="font-size: 34px;" class="icon ion-chevron-left"></i>
            </button>
            <img class="foto" ng-show="imgCarica" ng-src="{{immagine}}" style="width:250px; height:250px;" imageonload="ready()"/>
            <img class="foto" ng-show="!imgCarica" style="width:150px; height: 150px; margin-top: 50px; margin-left: 50px; border: none;" src ='./img/loading.gif'/> 
            <button id="dx" ng-hide="next" class="item item-icon-right tasti" style="border:none; background-color: transparent;" ng-click="insertCoin('+')">
                <i style="font-size: 34px;" class="icon ion-chevron-right"></i>
            </button>
        </div>
        <div id="dati">
            <h4 style="color:#0F71DE;" ng-if="viewDecibel">Decibel: <span style="color:black;"> {{decibel}}</span></h4>
            <br>
            <h4 style="color:#0F71DE;">Frequenza: <span style="color:black;"> {{frequenza}}</span></h4>       
        </div>
    </div>
    <audio id="suono" ng-src="{{jukebox}}" type="audio/mpeg" preload="auto" soundonended="stopRiproduzione()"> </audio>
  </ion-content>
</ion-view>