<ion-view title="" hide-back-button="true" id="cercaLogopedista">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <a ui-sref="side-menu21.menuUtente" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <h3 id="cercaLogopedista-heading9" style="color:#FF1300;text-align:center;">Logopedista</h3>
    <form id="cercaLogopedista-form8" class="list">
      <label class="item item-input" id="cercaLogopedista-search1" name="cerca">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Cerca Logopedista">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-select" id="cercaLogopedista-select5" name="logopedisti">
        <span class="input-label"></span>
        <select></select>
      </label>
    </form>
    <button id="cercaLogopedista-button19" style="font-weight:500;font-size:20px;" class="button button-positive  button-block icon-left ion-person-add">Invia richiesta</button>
  </ion-content>
</ion-view>