<ion-view title="" hide-back-button="true" id="condividiSuono"  cache-view='false'>
  <ion-nav-buttons side="left" scroll="false" class="has-header">
     <a ui-sref="side-menu21.menuUtente" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
   </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
      <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form id="condividiSuono-form7" class="list" ng-controller="condividiSuonoCtrl">
      <h3 id="condividiSuono-heading8" style="color:#FF1300;text-align:center;">Condividi in Community</h3>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <label class="item item-input" id="condividiSuono-input11" name="nome ">
        <input type="text" placeholder=" Luogo di ascolto" ng-model="luogoascolto"  >
      </label>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <label class="item item-input" id="condividiSuono-input12" name="descrizione">
              <textarea rows="4" cols="50" placeholder="Descrizione" ng-model="descrizione"  >
			  </textarea>
      </label>
    <div id="condividiSuono-button-bar1" class="button-bar">
      <button id="condividiSuono-button16" class="button button-royal button-large button-block button-clear icon ion-android-microphone" ng-click="audioCapture()"></button>
      <button id="condividiSuono-button18" class="button button-royal button-large button-block button-clear icon ion-images" ng-click="imageCapture()"></button>
    </div>
	<p id="img"></p>
    <button id="condividiSuono-button12" style="width:70%; margin-left:15%; margin-right:15%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block" ng-click="invia()">Invia</button>
	    </form>

  </ion-content>
</ion-view>
