<ion-view title="" hide-back-button="true" id="esercitazione">
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="side-menu21.menuUtente" class="button button-icon icon ion-android-close"></a>
    </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="esercitazione-list8">
      <form id="esercitazione-form3" class="list">
        <progress id="avanzamento" value="2" max="10">
        </progress>
        <button id="esercitazione-button31" style="font-weight:500;font-size:20px;" class="button button-positive  button-block button-clear icon-left ion-android-volume-up">Riproduci suono</button>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-radio id="esercitazione-radio5" name="risposta">{Nome Foto}</ion-radio>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-radio id="esercitazione-radio6" name="risposta">{Nome Foto}</ion-radio>
        <button id="esercitazione-button7" style="font-weight:500;font-size:20px;" class="button button-positive  button-block">Controlla</button>
      </form>
    </ion-list>
  </ion-content>
</ion-view>