<ion-view title="" hide-back-button="true" id="inserisciSuono">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="menuGestioneCommunity" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header sfondoBase">
    <form id="inserisciSuono-form14" class="list" ng-controller="inserisciSuonoCtrl">
	  <audio id="myAudio"  ng-src="{{imm_b}}"  type="audio/mpeg" preload="auto">
	  </audio>
      <h3 id="inserisciSuono-heading15" style="color:#FF1300;text-align:center;">Inserisci Suono</h3>
      <div class="spacer" style="width: 280px; height: 18px;"></div>
      <h4 id="inserisciSuono-heading20" style="color:#0F71DE;">Nome del suono</h4>
      <label class="item item-input" id="inserisciSuono-input28" name="nome">
        <input type="text" placeholder="" ng-model="nome">
      </label>
      <h4 id="inserisciSuono-heading21" style="color:#0F71DE;">Categoria</h4>
      <label class="item item-input" id="inserisciSuono-input29" name="categoria">
      <input type="text" placeholder="" ng-model="categoria">	
      </label>
      <div class="spacer" style="width: 280px; height: 17px;"></div>
      <div style="text-align:center">
      <button id="inserisciSuono-button27" style="width:43%; margin-left:5%; font-weight:500;color:#FFFFFF;font-size:15px;border-radius:50px 50px 50px 50px;" class="button button-balanced  icon-left ion-mic-a" ng-click="riproduci()">Registra</button>&nbsp
      <button id="inserisciSuono-button27" style="width:43%; margin-right:5%;font-weight:500;color:#FFFFFF;font-size:15px;border-radius:50px 50px 50px 50px;" class="button button-energized  icon-left ion-camera" ng-click="imageCapture()">Scatta</button>
      </div>
      <div class="spacer" style="width: 280px; height: 17px;"></div>
	 <h4 id="inserisciSuono-heading19" style="color:#0F71DE;">Cataloga in: </h4>
      <label class="item item-select" id="inserisciSuono-select10" name="decibel">
        <span class="input-label">Decibel</span>
        <select ng-model="sel" ng-change="decibel(sel)">
              <option value="">--- Seleziona ---</option>
              <option value="0_45">0 - 45</option>
              <option value="46_60">46 - 60</option>
              <option value="61_75">61 - 75</option>
              <option value="76_90">76 - 90</option>
		</select>
      </label>
      <label class="item item-select" id="inserisciSuono-select11" name="frequenza">
        <span class="input-label">Frequenza</span>
        <select ng-model="sel1" ng-change="frequenza(sel1)">
              <option value="">--- Seleziona ---</option>
              <option value="0_16000">0 - 16000</option>
              <option value="16001_32000">16001 - 32000</option>
              <option value="32001_48000">32001 - 48000</option>
		</select>
      </label>
     <button id="inserisciSuono-button25" style="width:70%; margin-left:15%; margin-right:15%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon-left ion-checkmark" ng-click="Approva()">Approva</button>
	</form>
  </ion-content>
</ion-view>
