<ion-view title="ListenCheck" hide-back-button="true" id="login">
  <ion-content padding="true" class="has-header sfondoBase">
      <div>
        <img src="img/logoMenu.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto; margin-bottom: 7%; margin-top: 7%;">
      </div>
      <form name="accedi" id="login-form1" class="list" ng-controller="loginCtrl">
      <label class="item item-input" id="login-input1" name="email">
        <input name="email" type="email" placeholder="Email" ng-model="email">
      </label>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <label class="item item-input" id="login-input3" name="password" >
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <div style="text-align:center">
      <input style="width:35%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-balanced ion " type="submit" id="submit" value="Accedi" ng-click="invia()">&nbsp&nbsp
      <a ui-sref="registrazioneUtente" id="login-button4" style="width:35%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  ion button round">Registrati</a>
      </div>
      <a ui-sref="recuperaPassword" id="login-button2" style="font-size:16px;" class="button button-positive  button-block button-clear">Password Dimenticata</a>
    </form>
  </ion-content>
</ion-view>
