<ion-view title="" hide-back-button="true" id="menuProgressiPaziente">
  <ion-nav-buttons side="left" class="has-header">
   <a ui-sref="side-menu21.menuLogopedista" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="menuProgressiPaziente-heading12" style="color:#FF1300;text-align:center;">Progressi Pazienti</h3>
    <form id="menuProgressiPaziente-form9" class="list"  ng-controller="menuProgressiPazienteCtrl">
      <label class="item item-input" id="menuProgressiPaziente-search2" name="cerca">
        <i class="icon ion-search placeholder-icon"></i>
         <input type="search" placeholder="Cerca Paziente " list="myselecteditem" ng-change="hasChanged()"  ng-model="myselecteditem">
		<datalist id="myselecteditem">
  			 <option ng-repeat="item in myitemlist" value=" {{item.value}}" >{{item.text}}</option>
		</datalist>
      </label>	  
      <div class="spacer" style="width: 300px; height: 15px;"></div>
	  <h3 id="menuGestioneCommunity-heading14" style="color:#FF1300;text-align:center;" >{{info}}</h3>
    <a ui-sref="progressiPaziente" id="menuProgressiPaziente-button20" style="font-weight:500;font-size:20px;" class="button button-positive  button-block" ng-click="invia()">Visualizza</a>
	</form>
  </ion-content>
</ion-view>