<ion-view title="ListenCheck" hide-back-button="true" id="menuLogopedista">
  <ion-content padding="true" scroll="false" class="has-header sfondoMenu">
      <div style="text-align: center">
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <h2 style="margin-left:auto; margin-right:auto; font-family: cursive; color:#33cd5f; font-size: xx-large;">Menu</h2>
     </div> 
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <a ui-sref="menuProgressiPaziente" id="menuLogopedista-menuProgressiPaziente " style="width:76%; margin-left:12%; margin-right:12%; font-weight:500;color:#FFFFFF;font-size:17px;border-radius:50px 50px 50px 50px;" class="button button-positive  ion button icon-left ion-stats-bars round">Progressi Pazienti</a>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <a ui-sref="gestioneCollaborazioni" id="menuLogopedista-gestioneCollaborazioni" style="width:76%; margin-left:12%; margin-right:12%; font-weight:500;color:#FFFFFF;font-size:17px;border-radius:50px 50px 50px 50px;" class="button button-positive  ion button icon-left ion-person-stalker round">Gestione Collaborazioni</a>
  </ion-content>
</ion-view>
