<ion-view title="ListenCheck" hide-back-button="true" id="menuUtente">

      <div class="bar bar-subheader">
        <h2 style="margin-left:auto; margin-right:auto; font-family: -webkit-body; color:#33cd5f">Menu</h2>
      </div>
    
    <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 80px;"></div>
    <a ui-sref="menuApprendimento" id="menuUtente-menuApprendimento" style="width:70%; margin-left:15%; margin-right:15%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  ion button round icon-left ion-ios-book-outline">Apprendimento</a>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <a ui-sref="menuEsercitazione" id="menuUtente-menuEsercitazione" style="width:70%; margin-left:15%; margin-right:15%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  ion button round icon-left ion-android-checkbox-outline">Esercitazione</a>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <a ui-sref="condividiSuono" id="menuUtente-condividiSuono" style="width:70%; margin-left:15%; margin-right:15%; font-weight:500;color:#FFFFFF;font-size:20px;border-radius:50px 50px 50px 50px;" class="button button-positive  ion button round icon-left ion-earth">Condividi Suono</a>
  </ion-content>
</ion-view>