<ion-view title="" hide-back-button="true" id="menuProgressiPaziente">
  <ion-nav-buttons side="left" class="has-header">
   <a ui-sref="side-menu21.menuLogopedista" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="menuProgressiPaziente-heading12" style="color:#FF1300;text-align:center;">Progressi Pazienti</h3>
    <form id="menuProgressiPaziente-form9" class="list">
      <label class="item item-input" id="menuProgressiPaziente-search2" name="cerca">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Cerca Paziente">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-select" id="menuProgressiPaziente-select6" name="pazienti">
        <span class="input-label"></span>
        <select></select>
      </label>
    </form>
    <a ui-sref="progressiPaziente" id="menuProgressiPaziente-button20" style="font-weight:500;font-size:20px;" class="button button-positive  button-block">Visualizza</a>
  </ion-content>
</ion-view>