<ion-view title="ListenCheck" hide-back-button="true" id="menuUtente">
  <ion-content padding="true" scroll="false" class="has-header">
    <h1 id="menuUtente-heading18" style="color:#FF1300;text-align:center;">Menù</h1>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <a ui-sref="menuApprendimento" id="menuUtente-menuApprendimento" style="font-weight:500;font-size:20px;" class="button button-positive  button-block icon-left ion-ios-book-outline">Apprendimento</a>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <a ui-sref="menuEsercitazione" id="menuUtente-menuEsercitazione" style="font-weight:500;font-size:20px;" class="button button-positive  button-block icon-left ion-android-checkbox-outline">Esercitazione</a>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <a ui-sref="condividiSuono" id="menuUtente-condividiSuono" style="font-weight:500;font-size:20px;" class="button button-positive  button-block icon-left ion-earth">Condividi Suono</a>
  </ion-content>
</ion-view>