<ion-view title="" hide-back-button="true" id="ProgressiPaziente" cache-view="false" ng-init="init()">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="menuProgressiPaziente" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="side-menu21.menuLogopedista" class="button button-icon icon ion-android-close"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header sfondoBase">
    <form id="menuGestioneCommunity-form13" class="list" ng-controller="progressiPazienteCtrl">
    <h3 id="ProgressiPaziente-heading26" style="color:#FF1300;text-align:center;">Progressi Paziente</h3>
	<div class="spacer" style="width: 300px; height: 13px;"></div>
    <h4 id="ProgressiPaziente-heading13" style="color:#0F71DE; text-align:center;" >{{item}}</h4>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
	<table style = "width: 100%; " id="tabella" >
	<tr style = "background-color: #0F71DE; color: white;">
                <th style="width: 30%;"><h5 style="color:white;">Data</h5> </th>
		<th style="width: 10%;"><h5 style="color:white;">Tipo</h5> </th>
		<th style="width: 40%;"><h5 style="color:white;">Fascia</h5> </th>
		<th style="width: 20%;"><h5 style="color:white;">Dettagli</h5> </th>
	</tr>
	<tr ng-repeat="x in names">
		<td style="text-align:center;"><h5>{{ x.data }}</h5></td>
		<td style="text-align:center;"><h5>{{ x.tipo }}</h5></td>
		<td style="text-align:center;"><h5>{{ x.fascia }}</h5></td>
		<td style="text-align:center;"><i ng-click="visualizza(&#34;{{ x.id }} &#34;)" style ="font-size:26px; color:#000000; margin-top: 10%;" class="icon ion-clipboard placeholder-icon "></i></td>
    </tr>
	</table>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
    </div>
	</form>
  </ion-content>
</ion-view>