<ion-view title="" hide-back-button="true" id="ProgressiPaziente" cache-view="false" ng-controller="progressiPazienteCtrl" ng-init="prova()">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="menuProgressiPaziente" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="side-menu21.menuLogopedista" class="button button-icon icon ion-android-close"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="ProgressiPaziente-heading26" style="color:#FF1300;text-align:center;">Progressi Paziente</h3>
    <h4 id="ProgressiPaziente-heading13" style="color:#0F71DE;">{Nome Paziente}</h4>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>