<ion-view title="" hide-back-button="true" id="recuperaPassword">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="login" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="recuperaPassword-form17" class="list" ng-controller="recuperaPasswordCtrl">
      <h3 id="recuperaPassword-heading28" style="color:#FF1300;text-align:center;">Recupera Password</h3>
      <h4 id="recuperaPassword-heading30" style="color:#0F71DE;">Inserisci la tua email</h4>
      <div class="spacer" style="width: 300px; height: 7px;"></div>
      <ion-list id="recuperaPassword-list12">
        <label class="item item-input" id="recuperaPassword-input34" name="email">
          <input type="email" placeholder="Email" ng-model="email">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <a ui-sref="login" id="recuperaPassword-button36" style="font-weight:500;font-size:20px;" class="button button-positive  button-block" ng-click="recupera()">Recupera</a>
    </form>
  </ion-content>
</ion-view>