<ion-view title="" hide-back-button="true" id="registrazioneLogopedista" cache-view="false">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="side-menu21.menuAdmin" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form name="registrazione" ng-model="registrazione" id="registrazioneLogopedista-form11" class="list" ng-controller="registrazioneLogopedistaCtrl" nonvalidate>
      <h2 id="registrazioneLogopedista-heading29" style="color:#FF1300;text-align:center;">Registrazione</h2>
      <ion-list id="registrazioneLogopedista-list10">
        <label class="item item-input" id="registrazioneLogopedista-input20" name="nome">
          <input style="text-transform: capitalize" type="text" placeholder="Nome" ng-model="nome">
        </label>
        <label class="item item-input" id="registrazioneLogopedista-input21" name="cognome">
          <input style="text-transform: capitalize" type="text" placeholder="Cognome" ng_model="cognome">
        </label>
	<label class="item item-input" id="registrazioneUtente-input9" name="data" >
              <i class="icon ion-android-calendar"></i><span class="input-label">&nbsp;&nbsp;Data di Nascita&nbsp;&nbsp;</span>
          <input type="date" placeholder="Data di nascita" ng-model="dataN.value" required>
          </label>
	<label class="item item-input item-select">
          Sesso
          <select ng-model="sesso">
          <option value="f"> Femmina</option>
          <option value="m" selected > Maschio </option>
          </select>
          </label>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <label class="item item-input" id="registrazioneLogopedista-input27" name="piva">
          <input type="tel" placeholder="P.IVA" ng-model="p_iva" ng-minlength="11" ng-maxlength="11">
        </label>
        <label class="item item-input" id="registrazioneUtente-input19" name="citta">
          <input style="text-transform: capitalize" type="text" placeholder="Città" ng-model="citta" required>
        </label>
        <label class="item item-input" id="registrazioneUtente-input20" name="telefono">
          <input type="tel" placeholder="Telefono" ng-model="telefono" name="tel" id="tel" ng-minlength="9" ng-maxlength="11" required>
          </label>
        <label class="item item-input" id="registrazioneLogopedista-input22" name="email">
          <input type="email" placeholder="Email" ng-model="email" ng-blur="checkemail()">
        </label>
        <label class="item item-input" id="registrazioneLogopedista-input23" name="emailr">
            <input type="email" placeholder="Reinserisci Email" ng-model="emailConferma">
        </label>
        <label class="item item-input" id="registrazioneLogopedista-input24" name="pw" ng-model="password" ng-pattern="rePass">
          <input type="password" placeholder="Password" ng-model="password">
        </label>
        <label class="item item-input" id="registrazioneLogopedista-input25" name="pwr">
          <input type="password" placeholder="Reinserisci Password" ng-model="passwordConferma">
        </label>
    <input style="font-weight:500;color:#FFFFFF;font-size:20px;" class="button button-positive  button-block" type="submit" id="submit" value="Registra" ng-click="invia()" ng-disabled="button" ng-model="button">
      </ion-list>
    </form>
  </ion-content>
</ion-view>