<ion-view title="" hide-back-button="true" id="registrazioneUtente" cache-view="false">
  <ion-nav-buttons side="left" class="has-header">
  <!-- modificare ui-sref in base al tipo di utente-->
    <a ui-sref="login" class="button icon-left ion-chevron-left button-clear button-white">&nbsp;Back</a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
      <form name="registrazione" ng-model="registrazione" id="registrazioneUtente-form10" class="list" ng-controller="registrazioneUtenteCtrl" novalidate>
      <h2 id="registrazioneUtente-heading27" style="color:#FF1300;text-align:center;">Registrazione</h2>
      <ion-list id="registrazioneUtente-list9">
          <label class="item item-input" id="registrazioneUtente-input13" name="nome">
          <input style="text-transform: capitalize" type="text" placeholder="Nome" ng-model="nome" required>
        </label>
          <label class="item item-input" id="registrazioneUtente-input14" name="cognome">
          <input style="text-transform: capitalize" type="text" placeholder="Cognome" ng-model="cognome" required>
        </label>
          <label class="item item-input" id="registrazioneUtente-input9" name="data" >
              <i class="icon ion-android-calendar"></i><span class="input-label">&nbsp;&nbsp;Data di Nascita&nbsp;&nbsp;</span>
          <input type="date" placeholder="Data di nascita" ng-model="dataN.value" required>
          </label>
          <label class="item item-input" id="registrazioneUtente-input21" name="cf">
              <input style="text-transform: uppercase" type="text" placeholder="Codice Fiscale" id="cf" name="cf" ng-model="cf" ng-pattern="reCF" required >
          </label>
          <label class="item item-input" id="registrazioneUtente-input19" name="citta">
          <input style="text-transform: capitalize" type="text" placeholder="Città" ng-model="citta" required>
          </label>
          <label class="item item-input" id="registrazioneUtente-input20" name="telefono">
          <input type="tel" placeholder="Telefono" ng-model="telefono" name="tel" id="tel" ng-minlength="9" ng-maxlength="11" required>
          </label>
          <label class="item item-input item-select">
          Sesso
          <select ng-model="sesso">
          <option value="f"> Femmina</option>
          <option value="m" selected > Maschio </option>
          </select>
          </label>
          
          <label class="checkbox-balanced" id="registrazioneUtente-input22" name="minorenne">
            <ion-checkbox positive ng-model="minorenne" ng-required="false">Il Paziente è minorenne?</ion-checkbox>  
          </label>
          <label class="item item-input" id="registrazioneUtente-input23" name="nomeG" ng-show="minorenne">
          <input style="text-transform: capitalize" type="text" placeholder="Nome del genitore" ng-required="minorenne" ng-show="minorenne" ng-model="nomeGenitore">
        </label>
          <label class="item item-input" id="registrazioneUtente-input24" name="cognomeG" ng-show="minorenne">
          <input style="text-transform: capitalize" type="text" placeholder="Cognome del genitore" ng-model="cognomeGenitore" ng-required="minorenne" ng-show="minorenne">
        </label>
          
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <label class="item item-input" id="registrazioneUtente-input15" name="email">
          <input type="email" placeholder="Email" ng-model="email" required ng-blur="checkemail()">
        </label>
        <label class="item item-input" id="registrazioneUtente-input16" name="emailr">
          <input type="email" placeholder="Reinserisci Email" ng-model="emailConferma" required>
        </label>
        <label class="item item-input" id="registrazioneUtente-input17" name="pw" ng-model="password" ng-pattern="rePass">
          <input type="password" placeholder="Password" ng-model="password" required>
        </label>
        <label class="item item-input" id="registrazioneUtente-input18" name="pwr">
            <input type="password" placeholder="Reinserisci Password" ng-model="passwordconferma" required>
        </label>
        <input style="font-weight:500;color:#FFFFFF;font-size:20px;" class="button button-positive  button-block" type="submit" id="submit" value="Registrati" ng-click="ottieniCodice()" ng-disabled="button" ng-model="button">         
        </ion-list>
        </form>
  </ion-content>
</ion-view>