<ion-side-menus enable-menu-with-back-views="true" ng-controller="side-menu21Ctrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21" style="background-color:#FBF7F7;">
    <ion-header-bar class="bar-stable">
      <div class="title"></div>
    </ion-header-bar>
    <ion-content padding="true" class="side-menu-right has-header ">
      <ion-list id="side-menu21-list1">
        <ion-item class="item-icon-left positive" id="side-menu21-list-item4" ui-sref="profiloUtente" menu-close="">
          <i class="icon ion-android-person"></i>{{mostraNome()}}</ion-item>
        <ion-item class="item-icon-left balanced" id="side-menu21-list-item24" ui-sref="cercaLogopedista" menu-close="">
          <i class="icon ion-medkit"></i>Logopedista</ion-item>
        <ion-item class="item-icon-left assertive" id="side-menu21-list-item9" ui-sref="login" menu-close="">
          <i class="icon ion-power"></i>Esci</ion-item>
        <ion-item class="item-icon-left" id="side-menu21-list-item6" ui-sref="side-menu21.menuAdmin" menu-close="">
          <i class="icon ion-home"></i>Home Amministratore</ion-item>
        <ion-item class="item-icon-left" id="side-menu21-list-item7" ui-sref="side-menu21.menuLogopedista" menu-close="">
          <i class="icon ion-home"></i>Home Logopedista</ion-item>
        <ion-item class="item-icon-left" id="side-menu21-list-item8" ui-sref="side-menu21.menuUtente" menu-close="">
          <i class="icon ion-home"></i>Home Utente</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>